<!DOCTYPE html>
<html>
<head>
  <title>Mybook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
	<ul class="nav nav-pills">
  		<li role="presentation" class="active"><a href="#">Home</a></li>
  		<li role="presentation"><a href="#">Profile</a></li>
  		<li role="presentation"><a href="#">Messages</a></li>
    </ul>
<h1>My Book</h1>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

<div class="panel-footer">Panel footer</div>
</div>
</div>


</body>
</html>
